{
	"Params": {
		"DevMode": {
			"Instrumentation": {
				"command": "",
				"env": {
					"BLUEMIX_APP_MGMT_ENABLE": "devconsole",
					"NODE_ENV": "development"
				},
				"memory": "384M"
			},
			"Packager": "com.ibm.perfectstorm.cloudoe.packager.LiveEditDeploymentPackager"
		},
		"Name": "Heavy Industry Standard Digital Inspection App by nSpek.com",
		"Target": {
			"Url": "https://api.us-south.cf.cloud.ibm.com",
			"Org": "nSpek - Standard Heavy Industry Digital Inspection App - how does the internet of things affect the state of the mining industry",
			"Space": "dev"
		},
		"Timeout": 60
	},
	"Path": "",
	"ServiceId": "com.ibm.cloudoe.orion.client.deploy",
	"Type": "Cloud Foundry"
}